.Navi{
  display: flex;
  flex: 1;
  background-color: brown;
  height: 200px;
  justify-content: space-around;
  border: 2px solid black;
}

.NaviSub{
  background-color: orangered;
  flex: 0.9;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid black;
}